body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}



.block-one{
   background-color: #B1977C;
   height: 150px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}



.image{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-color: #332211;
   margin-top: 130px;
   display: flex;
   align-items: center;
   justify-content: center;   
}



.introduction{
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   color: #332211;
   margin-top: 90px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.introduction-name{
   font-size: 22px;
}

.introduction-designation{
   font-size: 16px;
   font-style: italic;
   color: #383838;
}

.introduction-place{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.pin{
   font-size: 18px;
}

.links{
   margin: 30px 0;
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
   justify-content: center;
}

.links-linka{
   height: 45px;
   width: 250px;
   border: 1.5px solid #332211;
   border-radius: 8px;
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items:center;
   /* justify-content: center; */
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.links-circle{
   background-color: #6D3F25;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-left: 10px;
}


.ph-fill{
   font-size: 18px;
   color: #EEE5E0;
}


.contact{
   height: 100px;
   width: 80px;
   background-color: #D2C3B4;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;

}

.contact-vite {
   display: flex;
   flex-direction: row;
   gap: 15px;
   align-items: center;
   justify-content: center;
}


.solid{
   color: #6D3F25;
   font-size: 30px;
   text-align: justify;

}

/* .container{
   background-color: #B1977C;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   width: 90%;
   margin: 0 auto;
} */

.description{
   background-color: #B1977C;
   height: auto;
   margin: 30px 0px;
   padding: 30px 30px;
   /* display: flex;
   flex-direction: row; */
   text-align: left;
}

.description_tags{
   max-width: 400px;
   margin: 0 auto;
   padding: 20px 0px;
}


.container {
    max-width: 400px;
    margin: 0 auto;
    /* background: #EEE5E0;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(55, 33, 7, 0.1); */
}

h2 {
    color: #333;
    margin-bottom: 5px;
    font-family: 'Old Standard TT';
}

/* p {
    color: #666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

p{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.description_property{
   display: flex;
   flex-direction: row;
   gap: 20px;

}

.swipe-container {
    overflow-x: auto;              
    display: flex;                 
    gap: 15px;                     
    padding: 20px 0;              
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
}


.swipe-container::-webkit-scrollbar {
    display: none;
}


.swipe-card {
    min-width: 250px;              
    height: 250px;                 
    background: #6D3F25;
    border-radius: 15px;           
    display: flex;                 
    align-items: center;           
    justify-content: center;       
    color: white;            
    font-weight: bold;             
    scroll-snap-align: start;      
    flex-shrink: 0;              
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    font-size: 18px;
}

.swipe-card:nth-child(2n) {
    background: #AE8D77;
}

.swipe-card:nth-child(3n) {
    background: #39271D;
}

.swipe-card:nth-child(4n) {
    background: #6D3F25;
}

.swipe-card:nth-child(5n) {
    background: #DDDBCF;
}

/* 
@media (max-width: 480px) {
    .container {
        margin: 0;
        border-radius: 0;
        padding: 20px 15px;
    }
    
    .swipe-card {
        min-width: 200px;          
        height: 200px;
        font-size: 16px;
    }
    
    .swipe-container {
        gap: 12px;               
        padding: 15px 0;
    }
} */


@media only screen and (min-width: 768px) {
   .description{
   display: flex;
   flex-direction: row;
   text-align: left;
   gap: 0px;
   }
}


   background-color: #B1977C;
   height: auto;
   margin: 30px 0px;
   padding: 30px 30px;
